.encode,.decode{
    display: inline-block;
    margin: 10px 10px;
}
.opt{
    display: flex;
    
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 200px;
    width: 200px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.text-area {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 36px;
    color: #8f8f94;
}
.upload{
    width: 150px;
    height: 150px;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
    user-select:none;
}
.upload-logo{
    width: 100%;
    height:70%;
    display: flex;
    align-items: center;
}
.upload-icon{
    margin: 0 auto;
}
.upload-text{
    color: #8a8a8a;
    
}
.upload-file{
    display: flex;
    height: 250px;
}
.upload-info{
    width: 150px;
    height: 150px;
    margin: 0 20px;
    text-align: center;
    position: relative;
}
#file-list{
    display: flex;
}
.opt{
    margin-top: 20px;
    display: flex;
}
.opt-bnt{
    padding: 10px 20px;
    margin: 0 10px;
}
.upload-img{

}
.delete-bnt{
    position: absolute;
    right: 0;
    top:0;
    width: 30px;
    height: 30px;
    z-index: 10;
}
.file-name{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow : ellipsis;
}